@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  /* ## COLORS */
  /* ### Primary  */
  --Light-red-CTA-text: hsl(356, 100%, 66%);
  --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --Very-dark-blue-headings: hsl(208, 49%, 24%);

  /* ### Neutral */
  --White-text: hsl(0, 0%, 100%);
  --Grayish-blue-footer-text: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* ### Gradient */
  /* Background gradient - Intro/CTA mobile nav: */
  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

  /* fONTS */
  --font-overpass: 'Overpass', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
}

html {
  scroll-behavior: smooth;
  /* font-size: var(--FS);
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  background-image: var(--BGIMAGE); */
}

body {
  /* background-color: var(--BODY-BGCOLOR); */
  /* color: var(--FONT-COLOR); */
  min-height: 100vh;
  /* max-width: 800px; */
  /* margin: 0 auto; */
  /* border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  box-shadow: 0 0 10px var(--BORDER-COLOR); */
}

h1,
h2,
h3 {
  font-family: var(--FF-HEADINGS);
  letter-spacing: 0.1em;
}

h2,
h3 {
  margin-bottom: 1em;
  color: var(--HIGHLIGHT-COLOR);
}

p {
  line-height: 1.5;
}
img {
  display: block;
}
a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

.attribution {
  font-size: 11px;
  text-align: center;
  background: var(--Very-dark-black-blue-footer-background);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* GENERAL STYLING */
header {
  background: url(../images/bg-pattern-intro-desktop.svg);
  background-position: center;
  background-size: cover;
}





footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  border-top-right-radius: 5rem;
  background: var(--Very-dark-black-blue-footer-background);
  padding: 3rem 1rem;
  flex-wrap: wrap;
}
footer article {
  min-width: 230px;
  margin-top: 30px;
}
footer article h4 {
  font: 1rem var(--font-ubuntu);
  color: var(--White-text);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem;
}
footer article ul li {
  display: flex;
  justify-content: flex-start;
  color: var(--Grayish-blue-footer-text);
  font: 0.8rem var(--font-ubuntu);
  letter-spacing: 0.3px;
  font-weight: 400;
  position: relative;
  margin-bottom: 0.8rem;
  width: 100%;
}
footer article ul li a {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;
}
footer article ul li a::before {
  content: '';
  background: var(--Grayish-blue-footer-text);
  top: 100%;
  height: 2px;
  width: 0%;
  display: block;
  position: absolute;
}
footer article ul li a:focus:before,
footer article ul li a:active::before,
footer article ul li a:hover::before {
  width: 100%;
}

@media screen and (max-width: 450px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  footer article:first-child{
    display: flex;
    justify-content: center;
  }
  footer article h4,
  footer article ul li {
    text-align: center;
    justify-content: center;
  }
}
