@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

:root {
  /* ## COLORS */
  /* ### Primary  */
  --Light-red-CTA-text: hsl(356, 100%, 66%);
  --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --Very-dark-blue-headings: hsl(208, 49%, 24%);

  /* ### Neutral */
  --White-text: hsl(0, 0%, 100%);
  --Grayish-blue-footer-text: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* ### Gradient */
  /* Background gradient - Intro/CTA mobile nav: */
  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

  /* fONTS */
  --font-overpass: 'Overpass', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

p {
  line-height: 1.5;
}
img {
  display: block;
  padding: 0;
  margin: 0;
}

.attribution {
  font-size: 13px;
  text-align: center;
  padding-bottom: 1rem;
  background: var(--Very-dark-black-blue-footer-background);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* GENERAL STYLING */
.header {
  position: relative;
  background: linear-gradient(
    to left,
    var(--Light-red) 40%,
    var(--Very-light-red)
  );
  min-height: 60vh;
  width: 100%;
  padding: 5vh 10vh;
  border-bottom-left-radius: 6rem;
}
.header-grad {
  position: absolute;
  top: 0%;
  right: -10%;
  min-height: 60vh;
  width: 100%;
  z-index: 1;
  background: url(../images/bg-pattern-intro-desktop.svg);
  background-position: center;
  background-size: 130%;
  overflow: hidden;
}

.header__section_one {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 2;
  color: var(--White-text);
  font: 0.7rem var(--font-ubuntu);
  font-weight: 400;
}

.header__section_one nav {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}
.header__section_one nav ul {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header__section_one nav ul ol div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}
.header__section_one nav ul ol div h2 {
  display: flex;
  font-size: 1rem;
  margin-left: 30px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.header__section_one nav ul ol div h2::after {
  content: '';
  background-color: var(--White-text);
  display: block;
  width: 0%;
  top: 100%;
  position: absolute;
  z-index: 2;
  height: 2px;
  border-radius: 2px;
  transition: all 1s ease-in;
}
.header__section_one nav ul ol div h2:focus::after,
.header__section_one nav ul ol div h2:active::after,
.header__section_one nav ul ol div h2:hover::after {
  width: 100%;
}
.header__section_one nav ul ol div img {
  padding-left: 7px;
  cursor: pointer;
}
.header__section_one nav ul ol li {
  display: none;
}
.header__section_one div button {
  color: var(--White-text);
  font: 0.8rem var(--font-ubuntu);
  padding: 10px;
  border: 2px solid var(--White-text);
  cursor: pointer;
}
.header__section_one div button:first-child {
  background: transparent;
  border: transparent;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  font-weight: 700;
}
.header__section_one div button:last-child {
  color: var(--Light-red-CTA-text);
  background-color: var(--White-text);
  border-radius: 20px;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  font-weight: 700;
  transition: 1s ease-in;
}
.header__section_one div button:last-child:focus,
.header__section_one div button:last-child:active,
.header__section_one div button:last-child:hover {
  color: var(--White-text);
  background: var(--Very-light-red-CTA-hover-background);
  border: 2ps solid var(--Light-red-CTA-text);
}

.header__section_two {
  position: relative;
  text-align: center;
  padding-top: 14vh;
  padding-bottom: 10vh;
  z-index: 2;
}
.header__section_two h1 {
  color: var(--White-text);
  font: 2.2rem var(--font-overpass);
  font-weight: 600;
}
.header__section_two p {
  color: var(--White-text);
  font: 1rem var(--font-overpass);
  font-weight: 300;
  padding: 1rem 0 2rem 0;
}
.header__section_two button {
  padding: 15px 25px;
  border: 2px solid var(--White-text);
  background-color: var(--White-text);
  color: var(--Light-red-CTA-text);
  font: 1rem var(--font-ubuntu);
  font-weight: 700;
  border-radius: 50px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.header__section_two button:focus,
.header__section_two button:active,
.header__section_two button:hover {
  border: 2px solid var(--Very-light-red-CTA-hover-background);
  background: var(--Very-light-red-CTA-hover-background);
  color: var(--White-text);
}
.header__section_two button:last-child {
  border: 2px solid var(--White-text);
  background: transparent;
  color: var(--White-text);
  margin-left: 40px;
  transition: 1s ease-in-out;
}
.header__section_two button:last-child:focus,
.header__section_two button:last-child:active,
.header__section_two button:last-child:hover {
  background-color: var(--White-text);
  color: var(--Light-red-CTA-text);
}

.main {
  /* background: var(--White-text); */
}
.main .main__section_one {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 10%;
  margin-bottom: 5rem;
}
.main h2 {
  text-align: center;
  font: 2rem var(--font-overpass);
  color: var(--Very-dark-blue-headings);
  font-weight: 600;
  padding-top: 10vh;
  z-index: 1;
}
.main .main__section_one article:first-child {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  align-items: flex-start;
}
.main .main__section_one .img {
  width: 50%;
  position: relative;
}
.main .main__section_one .img img {
  position: absolute;
  z-index: 0;
  top: -300px;
  right: -250px;
}
.main .main__section_one div{
  padding-left: 8rem;
  margin-top: 4rem;
  z-index: 1;
}
.main .main__section_one div h3{
  font: 1.2rem var(--font-overpass);
  color: var(--Very-dark-grayish-blue-body-copy);
  font-weight: 600;
  margin-bottom: 2rem;
}
.main .main__section_one div p{
  font: .9rem var(--font-overpass);
  color: var(--Very-dark-grayish-blue-body-copy);
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.main__section_two{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
  margin-top: 4rem;
  padding-left: 8rem;
  position: relative; 
  background: linear-gradient(to right,  var(--Very-dark-gray-blue), var(--Very-dark-desaturated-blue));
  height: 23rem;
  z-index: 2;
}

.main__section_two .gradient{
  position: absolute;
  overflow-y: hidden; 
  
}
.main__section_two .gradient img{
  position: relative;
  background-size: 100%;
  z-index: -1;
  left: -40%;
  top: -20%;
}

.main__section_two article img{
  
  z-index: 1;
  overflow-x: visible;
}









footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  border-top-right-radius: 5rem;
  background: var(--Very-dark-black-blue-footer-background);
  padding: 3rem 1rem;
  flex-wrap: wrap;
}
footer article {
  min-width: 230px;
  margin-top: 30px;
}
footer article h4 {
  font: 1rem var(--font-ubuntu);
  color: var(--White-text);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem;
}
footer article ul li {
  display: flex;
  justify-content: flex-start;
  color: var(--Grayish-blue-footer-text);
  font: 0.8rem var(--font-ubuntu);
  letter-spacing: 0.3px;
  font-weight: 400;
  position: relative;
  margin-bottom: 0.8rem;
  width: 100%;
}
footer article ul li a {
  display: flex;
  color: var(--Grayish-blue-footer-text);
  justify-content: center;
  position: relative;
  width: fit-content;
}
footer article ul li a::before {
  content: '';
  background: var(--Grayish-blue-footer-text);
  top: 100%;
  height: 2px;
  width: 0%;
  display: block;
  position: absolute;
  transition: all 1s ease-in-out;
}
footer article ul li a:focus:before,
footer article ul li a:active::before,
footer article ul li a:hover::before {
  width: 100%;
}

@media screen and (max-width: 450px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  footer article:first-child {
    display: flex;
    justify-content: center;
  }
  footer article h4,
  footer article ul li {
    text-align: center;
    justify-content: center;
  }
}
